.home-title-txt {
    color: white;
    text-shadow: 15px 15px 0px #ff2200;
    font-family: 'Bebas Neue', sans-serif;
    font-size:300px;
    margin-bottom: -5vh;
    margin-top: 5vh;
    padding: 0;
    line-height: 0.9;
    text-align: center;
}

.home-img-wrapper{
    display: flex;
    margin-top: -7%;
}

.ramen {
    width: 50vw;
    z-index: 10;
}