/* Template */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* Fonts */
@font-face {
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist-Regular.woff2') format('woff2'),
        url('./fonts/Urbanist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('./fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* end of fonts */

:root {
    --button-font: 2em/1 'Bebas Neue', 'Segoe UI', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 10vh 16px 0 16px;

    nav {
        display: flex;
        gap: 40px;
    }

    .nav-button {
        width: 100px;
        padding: 8px 0 4px 0 ;
        border: none;
        border-radius: 2px;

        background-color: black;
        color: white;
        font: var(--button-font)
    }

    .nav-button.active {
        background-color: black;
        color: #ff2200;
    }

    .nav-button:hover {
        background-color: #ff2200;
        color: black;
    }
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 4% 0;
    border-radius: 20px;
    background-color: black;
}

.tab-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}

